.collapse{visibility:visible;}

.btn-default i {
  font-size: 30px;
}

.navbar {
  padding: 0;
}
.navbar-brand img {
  width: 100px;
}
header.main-header {
  margin: 0;
  width: 100%;
}
.bg-section {
  border-radius: 0px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
.main-header .container-fluid {
  padding: 9px 12px 20px 12px;
}
.main-menu .nav-menu-wrapper > ul {
  display: flex;
  justify-content: center;
}
.section-title h3 {
  font-size: 20px;
}
.hero.hero-slider-layout .hero-slide .hero-slider-image img {
  filter: brightness(0.7);
  height: auto;
}
.main-menu ul ul {
  width: 280px;
}
.hero.hero-slider-layout .hero-slide::before {
  content: none;
}
.section-title h1 span,
.section-title h2 span {
  background-image: linear-gradient(
    267.43deg,
    var(--accent-color) 4.95%,
    #3bc5ca 97.92%
  );
  font-size: 60px;
}
.hero.hero-slider-layout .hero-slide {
  padding: 330px 30px 200px;
}
.about-experience-box {
  top: auto;
  bottom: 175px;
}

#tdh-style {
  writing-mode: vertical-rl;
  position: relative;
  top: 6px;
  transform: rotate(180deg);
  left: 4%;
  font-size: 30px;
}
#tdh-style-about {
  writing-mode: vertical-rl;
  position: relative;
  top: 6px;
  transform: rotate(180deg);
  left: 2%;
  font-size: 30px;
}
#tdh-style-2 {
  writing-mode: vertical-rl;
  position: relative;
  top: 6px;
  transform: rotate(180deg);
  left: 2%;
  font-size: 12px;
}
#tdh-style-3 {
  /* writing-mode: vertical-rl;
  position: relative; */
  top: 7px;
  transform: rotate(180deg);
  left: 1%;
  font-size: 17px;
}
#tdh-style-4 {
  writing-mode: vertical-rl;
  position: relative;
  top: 7px;
  transform: rotate(180deg);
  left: 3%;
  font-size: 28px;
}
.hero-content h3 {
  font-size: 20px;
}
.section-title p {
  color: #000000;
  margin: 20px 0;
  font-size: 18px;
}
.section-title:hover {
  margin: 0 0 20px 0;
  color:#52a8da;
}
/* Advertisement button */
.AD-btn {
  display: flex;
  justify-content: center;  
  align-items: center;      
  margin-top: 15px;         
}

.AD-primary {
  background-color: #007bff; 
  color: white;              
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.AD-primary:hover {
  background-color: #0056b3; 
  transform: scale(1.05);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .AD-primary {
      width: 100%; /* Full width on small screens */
      text-align: center;
      padding: 12px;
  }
}

/* all padding start*/
.about-us,
.main-footer.bg-section,
.our-service,
.how-we-work,
.company-growth,
.our-blog,
.our-expertise,
.our-approach,
.our-testimonial {
  padding: 50px 0;
}
/* all padding end */
.founderH{
  color: rgba(213, 106, 19, 0.923);
}
.about-us-images {
  padding: 0 44px 46px 44px;
}
.our-testimonial {
  background: #042a2d;
}
.about-us-img-1 figure {
  border-radius: 10px;
}
.main-footer.bg-section {
  margin: 0;
}
.our-service {
  background: #000000;
}
.how-work-content p {
  color: #000000;
}
.how-work-item {
  height: calc(100% - 30px);
  margin-bottom: 30px;
  border: 3px double #3cc6c9;
  padding: 15px;
  border-radius: 20px;
}
.how-work-content {
  border: 0;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
}
.how-work-item .icon-box {
  border-radius: 0;
  width: 100%;
  height: auto;
  background: none;
}
.how-work-item img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 20px;
}
.how-work-content h3 {
  font-size: 28px;
  text-align: center;
}
.hero::before {
  background: none;
}
.about-footer {
  max-width: 100%;
}
.about-footer img {
  width: 180px;
}
.section-title h2 {
  margin: 0;
}
.intro-video {
  background: url("../images/home-pg/world-map.jpg");
}
.intro-video::before {
  background: linear-gradient(180deg, rgb(0 0 0 / 67%) 27.11%, #000000 100%);
}
.intro-video-list ul li {
  color: #61e094;
  font-weight: bold;
  font-size: 21px;
}
.video-play-button a {
  animation: glow 1s infinite alternate;
}
.blog-item-content p {
  color: #000000;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px -5px #ffffff;
  }
  to {
    box-shadow: 0 0 5px 5px #ffffff;
  }
}
.company-growth-image img {
  width: 100%;
  aspect-ratio: unset;
  border-radius: 0;
}
.blog-item .blog-featured-image a {
  border-radius: 0;
}
.blog-item:hover .blog-featured-image img {
  transform: none;
}
.blog-item .blog-featured-image img {
  aspect-ratio: unset;
  border-radius: 0;
}
.blog-item .blog-featured-image {
  width: 50%;
}
.blog-item-body {
  width: calc(100% - 25%);
  margin-left: 24px;
}
.blog-item {
  padding: 0 0 20px 0;
  margin: 0 0 35px 0;
}
.footer-copyright {
  padding: 20px 0;
  margin: 30px 0 0;
}
.footer-contact-info a {
  color: #ffffff;
  font-size: 18px;
}
.main-header .container-fluid::before {
  border: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
.expertise-list {
  justify-content: space-around;
}
.page-header {
  background: url("../images/about-us/DEE.png");
  /* background-image: linear-gradient(to right, var(--dark-color) 0%, var(--accent-color) 50%, var(--dark-color) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  /* padding: 180px 0 90px; */
  /* padding: 180px 0 180px; */
}
.page-header-box h1 {
  font-size: 40px;
}
.page-header-box ol {
  display: none;
}
.about-img {
  width: 100%;
  object-fit: contain;
  height: 300px;
  position: sticky;
  top: 50px;
  margin: 0 0 20px 0;
  border: linear-gradient(267.43deg, var(--dev-accent-color) 4.95%, #3bc5ca 97.92%);
}

.our-approach-image img {
  aspect-ratio: unset;
}
.our-approach h1 {
  font-size: 35px;
  font-weight: 900;
  line-height: 1.1em;
  color: #000000;
  text-align: center;
  font-style: italic;
}
.red {
  color: #f10909 !important;
}

@media screen and (min-width: 993px) and (max-width: 1264px) {
  .hero.hero-slider-layout .hero-slide {
    padding: 250px 30px 120px;
  }
}
@media screen and (max-width: 992px) {
  header.main-header {
    background: #000000;
    padding: 0;
  }
  .hero {
    margin: 0;
  }
  .hero.hero-slider-layout .hero-slide {
    padding: 100px 30px 100px;
  }
  .page-header {
    margin: 0;
  }
  .our-approach-image img {
    margin: 0 0 20px 0;
  }
  .scrolling-content span {
    font-size: 40px;
  }
}
@media screen and (max-width: 683px) {
  .hero-slide .hero-section {
    display: none;
  }
  .expertise-list {
    justify-content: space-around;
    gap: 20px 0;
  }
  .expertise-content p {
    font-size: 13px;
  }
  .hero.hero-slider-layout .hero-slide {
    padding: 260px 30px 164px;
  }
  .hero.hero-slider-layout .hero-pagination {
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .about-us-images {
    padding: 0 20px 20px 20px;
  }
  .our-approach-image img {
    margin: 0 0 20px 0;
  }
  .scrolling-content span {
    font-size: 25px;
  }
  .scrolling-content span img {
    max-width: 20px;
    margin: 0 5px 0 0;
  }
  .scrolling-content {
    animation: scroll 15s linear infinite;
  }
  .our-approach h1 {
    font-size: 17px;
  }
  .page-header {
    padding: 115px 0 13px;
  }
  .about-img {
    height: 220px;
  }
  .page-header-box h1 {
    font-size: 24px;
  }
  .main-header .container-fluid {
    padding: 0 12px;
  }
  .section-title h3 {
    font-size: 12px;
  }
  .section-title h1 span,
  .section-title h2 span,
  .section-title h1 {
    font-size: 22px;
  }
  .section-title p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.3em;
  }
  .about-us-img-2 {
    max-width: 155px;
    right: 18px;
  }
  .navbar-brand img {
    width: 90px;
    padding: 10px 0;
  }
  .service-item .icon-box {
    width: 40px;
    height: 40px;
  }
  #tdh-style {
    left: 3%;
    font-size: 17px;
  }
  .how-work-content h3 {
    font-size: 18px;
  }
  .intro-video {
    padding: 75px 0 50px;
  }
  .blog-item .blog-featured-image {
    margin: 0 auto;
  }
  .blog-item-body {
    width: 100%;
    margin: 0;
  }
  .blog-item-content {
    margin: 20px 0;
  }
  .about-footer img {
    width: 120px;
  }
  .footer-contact-info h3 {
    font-size: 15px;
  }
  .footer-social-links {
    margin: 20px 0;
  }
  .footer-contact-info a {
    font-size: 16px;
  }
  .footer-copyright {
    margin: 15px 0 0 0;
  }
  .main-footer.bg-section {
    padding: 50px 0 20px 0;
  }
  .hero-btn .btn-default {
    margin: 0;
  }
  .btn-default {
    font-size: 12px;
  }
  .hero-slide .hero-section {
    display: none;
  }
  .hero.hero-slider-layout .hero-slide {
    padding: 173px 0 110px;
  }
  .hero.hero-slider-layout .hero-pagination {
    bottom: 7px;
    text-align: center;
    margin: 0;
  }
}
 
/* team css 20-1-25 */ 

.teamT {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background: url(../images/team/BGT.png); */
  
  margin-top: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 2rem;
}
.teamP {
  font-style: italic;
  /* background-image: linear-gradient(267.43deg, var(--accent-color) 4.95%, #3bc5ca 97.92%); */
  font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.teamP:hover {
  color:darkseagreen;
  font-size: 18px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
  /* background: url(../images/team/ES.jpg); */
  /* background-color: #f7f7f7; */
}

.team-card {
  /* width: 160px; */
  text-align: center;
  padding: 15px;
  /* border-radius: 150px 150px ; */
  border-radius: 20px;
  background-image: linear-gradient(to right, var(--dark-color) 0%, var(--accent-color) 50%, var(--dark-color) 100%);
  background-size: 200% auto;
  color: var(--white-color);
  text-transform: capitalize;
  border: none;
  /* padding: 17px 54px 17px 20px; */
  padding:50px 50px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.team-card img {
  width: 200px;
  height: 256.6px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  display: block;
}

.team-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: #333;
}

.team-card p {
  font-size: 14px;
  color: var(--white-color);
}

.team-card:hover {
  opacity: 0.5;

}

/* Custom color backgrounds for team cards */
.team-card.yellow {
  background-color: #fff9c4;
}


.team-card.gray {
  /* background-color: #f1f1f1; */
  
  background-color: #fff9c4;
}

.team-card.blue {
  /* background-color: #cce5ff; */
  background-color: #fff9c4;
}

.team-card.pink {
  /* background-color: #ffe3f3; */
  background-color: #fff9c4;
}

.team-card.green {
  /* background-color: #d4f7d4; */
  background-color: #fff9c4;
}

.team-card.light-blue {
  /* background-color: #e0f7fa; */
  background-color: #fff9c4;
}

.team-card.orange {
  /* background-color: #ffe0b2; */
  background-color: #fff9c4;
}
.collapse{visibility:visible;}
/* contact us */
/* Contact Us Section */


.contact-info.show {
  opacity: 1;
}

.contact-info-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.contact-info-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-info-container label {
  display: block;
  margin-bottom: 8px;
}

.contact-info-container input,
.contact-info-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-info-container button {
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Information Section */
.info-section {
  background-color: #f7f7f7;
  padding: 40px 20px;
  text-align: center;
}

.info-container h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-container p {
  font-size: 1rem;
  color: #555;
}
/* Branding */
.branding-page {
  background-color: #ffffff;
}
.branding-banner {
  text-align: center;
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.branding-banner h1 {
  font-size: 2rem;
  font-weight: bold;
}

.branding-banner p {
  font-size: 1.2rem;
  color: #666;
}

.branding-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
}

.branding-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.branding-col {
  flex: 1;
  min-width: 300px;
  /* text-align: center; */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(71, 70, 70, 0.4);
}

.branding-col h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.branding-col p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

.branding-img,
video {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Responsive Design */
@media (max-width: 768px) {
  .branding-row {
      flex-direction: column;
      text-align: center;
  }

  .branding-col {
      text-align: center;
  }

  .branding-banner h1 {
      font-size: 1.8rem;
  }
}


/* marketing */
/* Top Container */
.top-container {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-container .mark-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-container .img-container img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.top-container .content-container {
  flex: 1;
}

.col h1{
  margin :auto;
}
.top-container h1 {
  font-size: 2rem;
  color: #004080;
  margin-bottom: 10px;
}

.top-container p {
  font-size: 1rem;
  color: #555;
}

/* Marketing Section */
.marketing-section {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 20px;
}

.marketing-container {
  display: flex;
  flex: 1 1 calc(50% - 20px); 
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 0px 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 25px;
  gap: 20px;
  transition: all 3s ease-in-out;
  align-items: center;
  border: 2px solid #989817;
}
.marketing-container:hover {
  background-color: #aec3d8;
  transform: 0.3ease;
}

.marketing-container .content-container {
  flex: 1;
  /* padding: 1rem; */
}

.marketing-container .img-container img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.marketing-container h2 {
  font-size: 1.5rem;
  color: #35506a;
  margin-bottom: 10px;
}

.marketing-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.marketing-btn {
  display: inline-block;
  background-color: #344455;
  color: #ffffff;
  margin: 15px;
  padding: 10px 20px;
  /* border-radius: 0px 50px; */
  border-radius: 10px 0px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.marketing-btn:hover {
  background-color: #aec3d8;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .top-container .row {
    flex-direction: column;
    text-align: center;
  }

  .marketing-container {
    flex: 1 1 100%; /* One container per row on medium screens */  
  }
}
@media (max-width: 768px) {
  .top-container h1 {
    font-size: 1.75rem;
  }

  .marketing-container h2 {
    font-size: 1.25rem;
  }

  .marketing-btn {
    font-size: 0.9rem;
  }
}

/* Career Page */
:root {
  --career-secondary-color: #F2F1ED;
  --career-text-color: #8F8F8F;
  --career-accent-color: #73ed7c;
  --career-dark-color: #019297;
  --career-white-color: #FFFFFF;
}

/* Container Styles */
.career-container {
  /* max-width: 1140px; */
  margin: 2rem;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: var(--career-white-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.career-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.career-flex-box {
  flex: 1 1 calc(33.333% - 20px); /* Adjusts to fit three per row */
  /* background-color: var(--career-white-color); */
  border-color: #bc6522;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.career-flex-box:hover {
  /* background-color: var(--career-accent-color); */
  background-color: #15625e;
  transform: translateY(-10px);
}

.career-icon-row {
  font-size: 3rem;
  color: var(--career-dark-color);
  margin-bottom: 10px;
}

.career-heading-row h3 {
  font-size: 1.5rem;
  color: var(--career-text-color);
  margin-bottom: 10px;
}

.career-content-row p {
  font-size: 1rem;
  color: var(--career-text-color);
}

/* Media Row Styles */
.career-media-row {
  text-align: center;
}

.career-media {
  width: 100%;
}

.career-video {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.career-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* job opportunity */
.career-job-container {
  margin-top: 40px;
  padding: 40px 20px;
  /* background-color: #eafaf7; */
  background-color: b5e48c;
  /* background-color: #a9a368; */
  border-radius: 15px;
  text-align: center;
}

.career-job-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #0d0c0c;
  margin-bottom: 20px;
}

.career-job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.career-job-card {
  background-color: #ffffff;
  
  border-radius: 100px 0px 100px 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.career-job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.career-job-icon {
  font-size: 2rem;
  color: #019297; /* Matching the theme color */
  margin-bottom: 15px;
}

.career-job-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #232323;
}

.career-job-description {
  font-size: 0.9rem;
  color: #7a7a7a;
  margin-bottom: 15px;
}

.career-job-button {
  background-color: #019297;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  transition: all 0.4s ease-in-out;
}

/* career info */
:root {
  /* --primary-color: #019297; */
  /* --secondary-color: #304131; */
  --text-color: #333;
  --bg-color: #f8f9fa;
}
.infocc{
  /* background: url(../images/Career/careers.jpg); */
  background-size: cover;
}
.careerINfo{
  box-shadow: 0px 15px 60px -10px rgba(162, 181, 243, 0.33);
    padding: 60px 80px;
    border-radius: 10px;
    position: relative;
    background: var(--white);
}
.career-coninfo-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  /* background: transparent; */
  border-radius: 10px;
  box-shadow: 0px 15px 60px -10px rgb(109 117 143 / 33%);
    padding: 60px;
    border-radius: 10px;
    position: relative;
    /* background: var(--white); */
}

.career-coninfo-form-container h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.career-coninfo-form-container label {
  font-weight: bold;
  color: var(--text-color);
}

.career-coninfo-form-container .btn-primary  .btn-default{
  border: none;
  transition: all 0.4s ease-in-out;
}

/*  */
    .dd-container {
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; */
      background: url('your-background-image.jpg') center/cover no-repeat;
      padding: 50px 20px;
  }
  
  .dd-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1100px;
      width: 100%;
      padding: 30px;
      /* background: rgba(255, 255, 255, 0.1); */
      background-color: #ffffff;
      backdrop-filter: blur(10px);
      border-radius: 12px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .dd-left {
      flex: 1;
      padding: 20px;
      /* color: #fff; */
      color: #4c3e3e;
  }
  
  .dd-left h4 {
      font-size: 1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  
  .dd-left h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .overlay-text {
      color: rgba(255, 255, 255, 0.3);
      position: absolute;
      z-index: -1;
  }
  
  .highlight-text {
      /* color: #fff; */
      color: #bdc7cd;
  }
  
  .dd-left p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 20px;
  }
  
  .btn {
      padding: 10px 20px;
      background: #fff;
      color: #333;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 5px;
      transition: 0.3s ease;
  }
  
  .btn:hover {
      background: #333;
      color: #fff;
  }
  
  .dd-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .dd-right img {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
      .dd-content {
          flex-direction: column;
          text-align: center;
      }
  
      .dd-right img {
          max-width: 300px;
      }
  }

/* lear-more content marketing */
.contentcc-marketing-section {
  padding: 50px 0;
  /* background-color: #f8f9fa; Light Gray Background */
  animation-name: background;
  animation-duration: 6s;
  background-image: url(../images/Learn/LL.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  transition: all 0.3ease-in-out;
}
@keyframes background {
25% {background-image: url(../images/Learn/BGLL.png) ;}

}

/* Container Styling */
.contentcc-marketing-container {
  max-width: 1100px;
  /* max-width: 100%; */
  margin: auto;
  /* display: flex; */
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  /* background: white; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Content Styling */
.contentcc-marketing-content {
  flex: 1;
  padding: 20px;
}

.contentcc-marketing-heading {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-bottom: 15px;
}

.contentcc-marketing-text {
  font-size: 22px;
  font-weight: 400;
  color: #555;
  /* color: #ffe7e7; */
  line-height: 1.6;
}

/* Button Styling */
.contentcc-marketing-btn {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.contentcc-marketing-btn:hover {
  background: #7ae29d;
}

/* Image Styling */
.contentcc-marketing-img-container img {
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contentcc-marketing-container {
      flex-direction: column;
      text-align: center;
  }
}

/*  */
:root {
  --dev-secondary-color: #F2F1ED;
  --dev-text-color: #8F8F8F;
  --dev-accent-color: #73ed7c;
  --dev-dark-color: #019297;
  --dev-white-color: #FFFFFF;
  --dev-divider-color: #DFE1DE;
  --dev-dark-divider-color: #FFFFFF33;
    }
    .DD-section {
        max-width: 1100px;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 2rem;
    }

    /* Custom HR styling */
    .DD-section .custom-hr {
        width: 100%;
        height: 3px;
        background-color: #ccc;
        border: none;
        transition: background-color 0.3s ease-in-out;
    }

    .DD-section .feature:hover .custom-hr {
        background-color: #007bff; /* Change color on hover */
    }

    .DD-section-two {
      max-width: 1100px;
      margin: auto;
      padding: 40px 0;
  }
  
  /* Grid Styling */
  .DD-section-two .row {
      display: flex;
      justify-content: center;
      gap: 20px;
  }
  
  /* Logo Box */
  .logo-box {
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      transition: all 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .logo-box:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Logo Image */
  .logo-box img {
      max-width: 120px;
      max-height: 50px;
      object-fit: contain;
  }

   Content marketing
  .contentcc-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
}

/* Container Styling */
.contentcc-container {
    max-width: 900px;
    margin: auto;
}

/* Row Styling */
.contentcc-row {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}

/* h3 Styling with Hover Effect */
.contentcc-row h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
}

.contentcc-row h3::after {
    /* content: ""; */
    width: 0;
    height: 2px;
    background: #007bff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
}

.contentcc-row:hover h3 {
    /* color: #007bff; */
    /* color: #9cc0e7; */
    color:#4e1305;
}

.contentcc-row:hover h3::after {
    width: 100%;
}

/* p Tag Styling */
.contentcc-text {
    font-size: 18px;
    font-style: italic;
    /* color: #555; */
    /* color: #f3eeee; */
    display: none; /* Initially Hidden */
    font-family: "Georgia", serif;
    padding: 1rem;
}

/* Show p when Row is Clicked */
.contentcc-row.active .contentcc-text {
    display: block;
}
